
.bod {
    margin: 0px;
    background-color:whitesmoke;
}
.navbar div ul{
    list-style-type:none;
    display: flex;
    justify-content: center;
    

}
.current {
    color: blue;
    margin: 30px 20px  0px 20px;
}
.navbar a {
    color: black;
    text-decoration: none;
}



.bodyimage {
   margin-left: 50%;
   
}
.navi {
    margin: 30px 20px  0px 20px;
}

.head {
    
    text-align: center;
    background: url(mounteverest.jpg);
    height: 90vh;
    width: auto;
    
    
    
}
.health {
    font-size: 60px;
    font-weight: lighter;
    padding-top: 230px;

}
.research {
    font-size: 20px;
    border-radius: 20px;
    border: 0px solid   ;
    background-color: rgba(211, 211, 211, 0.986);
}

.ven {
    margin-top: 50px;
    border-radius: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid rgba(255, 255, 255, 0.959) ;
    border-bottom: 7px solid rgba(211, 211, 211, 0.932);
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    
}

.abou {
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
}

.fou {
    text-align: center;
    
}

.bot {
    position: absolute;
    left: 50%;
    border: 1px solid lightgrey;
    border-radius: 30px;
}

.fot {
    text-align: center;
    margin-top: 50px;
    
}

.hl {
    font-weight: lighter;
}

.fl {
    font-size: 15px;
    font-family: cursive;
}

.pl {
    font-size: 15px;
    font-family: bitter;
}

.logo {
    display: flex;
    justify-content:space-around ;
    
    
}

.hq {
    width: 100px;
}

.hlo {
    margin-top: 30px;
}

.fot{
    font-size: 20px;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.we {
    background: url('Doc.jpg');
    height: 60vh;
    width: 100%;
    margin: 0%;
    
}
.we h1 {
    padding: 120px 0px 0px 500px;
}
.we1 {
    margin: 30px 30px 0px 30px;
    border: 1px solid white;
    border-bottom: 7px solid rgba(211, 211, 211, 0.932);
    border-radius: 15px;
    text-align: center;
}
.we2 {
    margin: 30px 30px 0px 30px;
    border: 1px solid white;
    border-bottom: 7px solid rgba(211, 211, 211, 0.932);
    border-radius: 15px;
    text-align: center;
}

.we3 {
    margin: 30px 30px 0px 30px;
    border: 1px solid white;
    border-bottom: 7px solid rgba(211, 211, 211, 0.932);
    border-radius: 15px;
    text-align: center;
}

.invest{
    background-image: url('bhaktapur.jpg');
    height: 110vh;
    margin: 0%;
    width: 100%;
    
}
.invest h1{
    padding: 350px 0px 0px 400px;
    color: white;
}

.invest1{
    border: 1px solid white;
    margin: 50px 50px;
    border-bottom: 10px solid rgba(211, 211, 211, 0.877);
    border-radius: 10px;
    text-align: center;
    

}

.invest3{
    display: flex;
    
    
}

.invest31 {
    border: 1px solid white;
    margin: 50px 50px;
    border-bottom: 10px solid rgba(211, 211, 211, 0.877);
    border-radius: 10px;
    text-align: center;
    margin-left: 50px;
   

}
.invest31 h2  {
    padding: 0px 50px 0px 50px;
}
.invest31 p{
    padding: 0px 50px 30px 50px;
}
.invest32{
    border: 1px solid white;
    margin: 50px 50px;
    border-bottom: 10px solid rgba(211, 211, 211, 0.877);
    border-radius: 10px;
    text-align: center;
    margin-left: 300px;
}
.invest32 h2{
    padding: 0px 50px 0px 50px;
}
.invest32 p{
    padding: 0px 50px 30px 50px;
}
.search{
    margin-top: 80px;
    margin-left: 300px;
    
    
}
.search a {
    text-decoration: none;
    color: black;
}
.search input{
    padding-right: 700px;
    border-radius: 20px;
    margin-left: 5px;
}
.search h6{
    font-size: 15px;
    
}
.sir{
    background-color: white;
    padding-top: 500px;
}

.team1 {
    background: url("team.jpg");
    height: 85vh;
    width: 100%;
}
.team1 h1 {
    padding: 300px 0px 0px 440px;
}
.team2 h2 {
    margin-top: 60px;
    text-align: center;
}

.teamphoto {
    display: flex;
    justify-content: space-around;
    margin: 0px 100px 70px 100px;
    border: 2px solid white;
    border-radius: 20px;
    border-right: 5px solid rgba(211, 211, 211, 0.966);
    border-bottom:5px solid rgba(211, 211, 211, 0.959) ;
    padding: 50px 50px 50px 50px;
    text-align: center;
    
}

.teamp1 img{
    width: 100%;
    height: 40vh;
   
}

.teamp2 img {
    width: 100%;
    height: 40vh;

}
.teamp3 img {
    width: 100%;
    height: 40vh;
}

.teamp4 img {
    width: 100%;
    height: 40vh;
}

.portfolio1 {
    margin: 0px;
    width: 100%;
    background: url("portfolioimg.jpg");
    height: 70vh;
}

.portfolio1 h1 {
    padding: 120px 0px 0px 500px ;
}
.portfolio2 {
    display: flex;
    justify-content: space-around;
    margin: 80px 100px 0px 100px;
    border: 3px solid white;
    border-radius: 20px;
    padding: 20px 0px 0px 0px ;
    border-right: 7px solid rgba(211, 211, 211, 0.884);
    border-bottom: 7px solid rgba(211, 211, 211, 0.884);
}
.portfolio2 h4{
    color: lightgray;
}

.portfolio3 {
    display: flex;
    justify-content: space-around;
    margin: 80px 100px 0px 100px;
    border: 3px solid white;
    border-radius: 20px;
    padding: 20px 0px 0px 0px ;
    border-right: 7px solid rgba(211, 211, 211, 0.884);
    border-bottom: 7px solid rgba(211, 211, 211, 0.884);
}
.portfolio3 h4{
    color: lightgray;
}

.portfolio4 {
    display: flex;
    justify-content: space-around;
    margin: 80px 100px 0px 100px;
    border: 3px solid white;
    border-radius: 20px;
    padding: 20px 0px 0px 0px ;
    border-right: 7px solid rgba(211, 211, 211, 0.884);
    border-bottom: 7px solid rgba(211, 211, 211, 0.884);
}
.portfolio4 h4{
    color: lightgray;
}

.portfolio5 {
    display: flex;
    justify-content: space-around;
    margin: 80px 100px 0px 100px;
    border: 3px solid white;
    border-radius: 20px;
    padding: 20px 0px 0px 0px ;
    border-right: 7px solid rgba(211, 211, 211, 0.884);
    border-bottom: 7px solid rgba(211, 211, 211, 0.884);
}
.portfolio5 h4{
    color: lightgray;
}

.portfolio6 {
    display: flex;
    justify-content: space-around;
    margin: 80px 100px 0px 100px;
    border: 3px solid white;
    border-radius: 20px;
    padding: 20px 0px 0px 0px ;
    border-right: 7px solid rgba(211, 211, 211, 0.884);
    border-bottom: 7px solid rgba(211, 211, 211, 0.884);
}
.portfolio6 h4{
    color: lightgray;
}

.portfolio7 {
    display: flex;
    justify-content: space-around;
    margin: 80px 100px 0px 100px;
    border: 3px solid white;
    border-radius: 20px;
    padding: 20px 0px 0px 0px ;
    border-right: 7px solid rgba(211, 211, 211, 0.884);
    border-bottom: 7px solid rgba(211, 211, 211, 0.884);
}
.portfolio7 h4{
    color: lightgray;
}